## Visual Studio / .NET
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

*.nupkg
*.snupkg
**/packages/*

.idea/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

node_modules/
.DS_Store

## ASP.NET
wwwroot/lib/
